html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background: #fafafa;
  margin: 0;
  padding: 20px;
}

:focus {
  outline-offset: 2px;
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
  color: #144a38;
  margin-bottom: 0;
}
p {
  line-height: 160%;
  color: #434343;
  font-size: 18px;
  margin-top: 8px;
}

.description {
  font-size: 14px;
}

.section-description p {
  font-size: 16px;
  color: #434343;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  margin-left: 80px;
  padding-top: 12px;
}

.header {
  text-align: left;
  margin-bottom: 48px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  margin-bottom: 34px;
  border-bottom: 1px solid gainsboro;
}

.col {
  padding: 15px;
  flex: 0 0 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.component {
  border-radius: 8px;
  margin-bottom: 30px;
}

.component-title {
  color: #144a38;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border: none;
  background-color: #144a38;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s;
  text-decoration: none;
}

.button .material-icons {
  margin-left: 10px;
  font-size: 20px; /* Adjust the size of the icon as needed */
}

.button:hover {
  background-color: #1e5e49;
}

.Thumbnail {
  aspect-ratio: 16/9;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 2px 16px 0px rgba(33, 43, 54, 0.08),
    0px 0px 0px 1px rgba(6, 44, 82, 0.1);
}

.Thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.material-icons {
  font-size: 16px;
  vertical-align: middle;
}

.table-of-contents {
  position: sticky;
  top: 0;
  padding: 20px;
  height: fit-content;
  max-height: 100vh;
  overflow-y: auto;
  margin-left: auto;
}

.table-of-contents h3 {
  margin-bottom: 10px;
}

.table-of-contents ul {
  list-style: none;
  padding: 0;
}

.table-of-contents li a {
  display: block;
  margin-bottom: 12px;
  color: #144a38;
  text-decoration: none;
}

/* Add styles for active state and hover effects as needed */
.table-of-contents li a:hover,
.table-of-contents li a.active {
  text-decoration: underline;
}

@media (min-width: 600px) {
  .col {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 900px) {
  .col {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
}

@media (min-width: 1100px) {
  .col {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (max-width: 1440px) {
  .table-of-contents {
    display: none;
  }
  .container {
    margin-left: 0;
  }
}
